In [32]:
import pandas as pd
import numpy as np

In [33]:
#Load File
file_to_load = "../Resources/purchase_data.csv"

In [34]:
#Read File
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
#Unique Player Count
unique_sn_count = purchase_data['SN'].nunique()
unique_sn_count

576

In [43]:
#Unique Game Count
unique_item_count = purchase_data['Item Name'].nunique()
#unique_item_count

#Average Purchase Price
average_price = purchase_data['Price'].mean()
#average_price

#Total Purchases
total_purchases = purchase_data['Purchase ID'].count()
#total_purchases

#Total Revenue
total_revenue = purchase_data['Price'].sum()
#total_revenue

In [47]:
#Purchasing Analysis (Total)

pd.DataFrame([{
    
    'Number of Unique Items': unique_item_count,
    'Average Purchase Price': average_price,
    'Total Number of Purchases': total_purchases,
    'Total Revenue': total_revenue
    
}])

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [64]:
#% of Male Players
gender_count = purchase_data['Gender'].value_counts()
gender_count

#% of Female Players

#% of Female Players

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64