In [2]:
import pandas as pd

In [3]:
#Load File
file_to_load = "../Resources/purchase_data.csv"

In [4]:
#Read File
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Unique Player Count
unique_sn_count = purchase_data['SN'].nunique()
unique_sn_count

576

In [6]:
#Unique Game Count
unique_item_count = purchase_data['Item Name'].nunique()
#unique_item_count

#Average Purchase Price
average_price = purchase_data['Price'].mean()
#average_price

#Total Purchases
total_purchases = purchase_data['Purchase ID'].count()
#total_purchases

#Total Revenue
total_revenue = purchase_data['Price'].sum()
#total_revenue

In [7]:
#Purchasing Analysis (Total)

pd.DataFrame([{
    
    'Number of Unique Items': unique_item_count,
    'Average Purchase Price': '${:,.2f}'.format(average_price),
    'Total Number of Purchases': total_purchases,
    'Total Revenue': '${:,.2f}'.format(total_revenue)
    
}])

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [8]:
#Gender Demographics
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
gender_demographics_totals = player_demographics["Gender"].value_counts()

gender_percentage = gender_demographics_totals / unique_sn_count

In [17]:
#Gender Demographics DataFrame
gender_summary = pd.DataFrame({'Total Count': gender_demographics_totals,
                               '% of Players': gender_percentage
                             })
gender_summary

                       Total Count  % of Players
Male                           484      0.840278
Female                          81      0.140625
Other / Non-Disclosed           11      0.019097

In [32]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
gender_demographics_totals_full = player_demographics["Gender"].value_counts()
#gender_demographics_totals_full

purch_value_total = purchase_data.groupby(["Gender"]).sum()["Price"]
#purch_value_total

avg_purch_price = purchase_data.groupby(["Gender"]).mean()["Price"]
avg_purch_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [34]:
#Gender Demographics DataFrame
value_summary = pd.DataFrame({'Total Count': gender_demographics_totals_full,
                              'Average Purchase Price': avg_purch_price,
                              'Total Purchase Value': purch_value_total,
                              'Avg Total Purchase/Person':
                             })
value_summary

,Total Count,Average Purchase Price,Total Purchase Value
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19